# Mac
.DS_Store
.LSOverride

# Xcode
[Bb]uild
*.xcuserstate
*.xcuserdatad
*.xcscmblueprint
*.o

# Pods
Pods/
Podfile.lock

# Carthage
Carthage/Build
carthage-files/*.zip
carthage-files/Carthage

# Ignore some build products
Branch-iOS-SDK.zip
Branch-iOS-TestBed.zip
Branch.framework.zip
