<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Branch-TestBed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6700165F1940F51400A9E103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>670016801940F51400A9E103</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E6B3B501AA42D0E005F45BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7E6B3B791AA44845005F45BF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EC326DB1A9D640F0083C5DF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EF767A21AA7D21E0094678F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7EFC86CA1A9D6C3800F87A23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
