name: Placeholder for GPT-tests

# Manually triggered
# $ gh workflow run release.yml
on:
  workflow_dispatch:
    inputs:
      version:
        description: Select Release type - major, minor or patch(for version upgrade).
        required: true
        default: patch
        type: choice
        options:
        - patch
        - minor
        - major
        
jobs:
  static-analysis:
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Run static analysis
        run: |
            xcodebuild analyze -project BranchSDK.xcodeproj

