name: iOS Release Build and GPTDriver Tests
on:
  workflow_dispatch: {}

jobs:
  static-analysis:
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4
      - name: Run static analysis
        run: |
            xcodebuild analyze -project BranchSDK.xcodeproj
