name: Post Release SDK Integration Tests

on:
  workflow_dispatch: {}

jobs:
  verify-cocoapods-iOS:
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Install pod, build project and run tests
        run: |
            ./scripts/getSimulator
            DESTINATION="platform=iOS Simulator,name=$(cat ./iphoneSim),OS=latest"
            cd  SDKIntegrationTestApps/PostRelease-iOSReleaseTest-Cocoapods/
            pod install
            xcodebuild test -scheme iOSReleaseTest -workspace iOSReleaseTest.xcworkspace -destination "$DESTINATION"| xcpretty && exit ${PIPESTATUS[0]}
  verify-carthage-iOS:
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Run carthage command, build project and run tests
        run: |
            ./scripts/getSimulator
            DESTINATION="platform=iOS Simulator,name=$(cat ./iphoneSim),OS=latest"
            cd  SDKIntegrationTestApps/PostRelease-iOSReleaseTest-Carthage/
            carthage update --use-xcframeworks
            xcodebuild test -scheme iOSReleaseTest -project iOSReleaseTest.xcodeproj -destination "$DESTINATION"| xcpretty && exit ${PIPESTATUS[0]}
  verify-SPM-iOS:
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: build project and run tests
        run: |
            ./scripts/getSimulator
            DESTINATION="platform=iOS Simulator,name=$(cat ./iphoneSim),OS=latest"
            cd  SDKIntegrationTestApps/PostRelease-iOSReleaseTest-SPM/
            xcodebuild test -scheme iOSReleaseTest -project iOSReleaseTest.xcodeproj -destination "$DESTINATION"| xcpretty && exit ${PIPESTATUS[0]}
  verify-cocoapods-tvOS:
    runs-on: macos-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Install pod, build project and run tests
        run: |
            ./scripts/getSimulator
            DESTINATION="platform=tvOS Simulator,name=$(cat ./appleTVSim),OS=latest"
            cd  SDKIntegrationTestApps/PostRelease-tvOSReleaseTest-Cocoapods/
            pod install
            xcodebuild test -scheme tvOSReleaseTest -workspace tvOSReleaseTest.xcworkspace -destination "$DESTINATION" | xcpretty && exit ${PIPESTATUS[0]}

