name: Unit tests (V4 Swift SDK)

on:
  push:
  pull_request:
    branches:
      - master
      - main

jobs:
  build-and-test:
    runs-on: macos-15
    timeout-minutes: 20
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup Xcode
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '16.0'

      - name: Build SDK
        run: swift build

      - name: Run unit tests
        run: swift test --parallel
